.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* ZA RegisterPage */

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}

.register-form-container {
  background: linear-gradient(to right, #003366, #b63535);
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 550px;
}

.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}

.logo-img {
  width: 230px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 15px;
}


.register-form {
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form .form-group {
  margin-bottom: 15px;
  width: 90%;
  transition: transform 0.8s ease;
}

.register-form .form-group:hover {
  transform: scale(1.05);
}

.register-form .form-control {
  border-radius: 4px;
  border: solid;
  padding: 10px;
  border-color: white;
}


.register-form .button {
  background-color: #ffffff;
  color: #000000;
  border: solid;
  border-color: black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.8s ease, transform 0.8s ease;
  font-size: 20px;
}

.register-form .button:hover {
  color: white;
  border-color: white;
  background-color: #722828;
  transform: scale(1.05);
}

/* ZA LoginPage */

.login-form-container {
  background: linear-gradient(to left, #003366, #b63535);
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 430px;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.log-error{
  margin-top: 5px;
}

.login-link {
  margin-top: 3px;
  text-align: center;
}

.login-link a {
  color: #98afc7;
  text-decoration: underline;
  font-weight: bold;
  font-size: large;
  transition: color 0.5s ease;
}

.login-link a:hover {
  color:#1f062bce
}

.register-link {
  margin-top: 3px;
  text-align: center;
}

.register-link a {
  color: #fa9d9d;
  text-decoration: underline;
  font-weight: bold;
  font-size: large;
  transition: color 0.5s ease;
}

.register-link a:hover {
  color:#98afc7
}


.password-div {
  display: flex;
  justify-content: space-between;
}

.forgot-password {
  font-size: 17px;
  color: #e8f0f8;
  cursor: pointer;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #da6d5a;
}


/* ZA NavBar */

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to left, rgb(22, 22, 146), rgb(170, 24, 24));
  color: white;
  height: 77px;
  width: 80%;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
}

.nav-left-container {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.nav-title {
  margin: 0;
  margin-right: 40px;

}

.nav-item {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
  text-decoration: none;
  transform: scale(1.1);
}

.nav-right-container {
  display: flex;
  align-items: center;
  margin-right: 40px;
  position: relative;
}

.nav-user-icon {
  font-size: 35px;
  cursor: pointer;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0.5, 0, 0, 0.5);
  white-space: nowrap;
}

.nav-dropdown:hover .nav-dropdown-menu {
  display: block;
}

.nav-dropdown-item {
  display: block;
  padding: 7px 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

.nav-dropdown-item:hover {
  background-color: #a33b3b;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.nav-dropdown-disabled{
  display: block;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #666666;
  cursor:not-allowed;
  pointer-events: none;
}